<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Ruby Book Store!</h1>
    <p>This is a store where you can buy books related to Ruby programming language and related tools, frameworks - in
      one word "All things Ruby".</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>