<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col">
      <h1><%= @page_title %></h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4>Ruby Book Store</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Scelerisque felis imperdiet proin fermentum leo. Posuere morbi leo urna molestie at elementum eu
      facilisis sed. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Enim blandit volutpat
      maecenas volutpat blandit. Sed adipiscing diam donec adipiscing tristique risus. Tristique sollicitudin nibh sit
      amet. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Est sit amet facilisis magna etiam tempor
      orci eu. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Viverra maecenas accumsan lacus vel
      facilisis volutpat est velit egestas. Ornare lectus sit amet est placerat. Eget velit aliquet sagittis id
      consectetur purus ut faucibus. Semper quis lectus nulla at volutpat diam ut. Dictum fusce ut placerat orci nulla
      pellentesque. Facilisis gravida neque convallis a cras. Consectetur adipiscing elit duis tristique sollicitudin
      nibh sit. Erat velit scelerisque in dictum non consectetur a erat nam. Augue ut lectus arcu bibendum at varius vel
      pharetra. Ut consequat semper viverra nam libero justo laoreet sit amet.
    </div>
    <div class="col-sm-4">
      <h4>Our Address</h4>
      <ul class="list-unstyled">
        <li>5 Test Street</li>
        <li>Testtown</li>
        <li>Testshire</li>
        <li>TE3 1ST</li>
        <li>United Kingdom</li>
      </ul>
    </div>
  </div>
</div>

